/* Font-style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Header area style */
.header-area{
    background-color:  #2D25A0;
    display: flex;
    justify-content: center;
    padding: 60px;
    margin-bottom: 70px;
}
.banner img{
    width: 556.01px;
    height: 438px;
    margin-left: 50px;
    transition: transform .5s linear;
   
}
.header-area:hover .banner img{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.header-text p{
    color: white;
    font-size: 64px;
    margin-right: 50px;
}
button{
    background: #E02C6D;
    padding: 10px 24px;
}
button a{
    text-decoration: none;
    color: white;
}

/* Player gorgeous style  */
.flex-container{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

.player img{
    width: 300px;
    height: 256px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player p{
    width: 300px;
    height: 154px;
}
/* copa-america highlights */
.flex-container{
    display: flex;
    justify-content: center;
}
.flexible{
    display: flex;
    width: 1080px;
}
#article{
    margin-right: 33px;
    
}
#picture-size{
    margin-left: 33px;
}
.highlights img{
    width: 567px;
    height: 427px;
}
.highlights{
    margin-top: 150px;
}
.highlights h2{
    font-size: 48px;
}
/* Footer style */
.footer-img img{
    width: 483.87px;
    height: 110px;
}
.footer-style{
    text-align: center;
    margin-top: 150px;
}
.awesome-font a{
    margin: 5px;
}

/* media for mobile screen  */
@media only screen and (max-width: 480px) {
    
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .header-area, .highlights{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner img {
        width: 329px;
        height: 259.17px;
       
    }
    .header-text p{
        font-size: 36px;
    }
    .footer-style{
        width: 100%;
    }
    .footer-img img{
        width: 125.8px;
        height: 29.98px;
    }                         
    .highlights{
        width: 329px;
        height: 299px;
        padding-left: 10px;
    }
    .highlights img{
        width: 325px;
        height: 299px;
    }
    .highlights h2{
        font-size: 30px;
    }
    .flexible{
        display: flex;
        flex-direction: column;
    }  
}